.consent-banner {
  background-color: #182368;
  min-height: 240px;
  left: 0;
  right: 0;
  z-index: 9999;

  position: relative;
  top: 0;

  /**
  position: fixed;
  bottom: 0;
  **/
}
.consent-banner .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 240px;
  align-items: center;
}
.consent-banner .container .copy {
  flex: 1 1;
  padding: 10px;
}
.consent-banner .container .copy p {
  font-size: 1.2em;
  color: white;
  max-width: 600px;
}
.consent-banner .container .control {
  flex: 0 0 200px;
}
@media(max-width: 600px) {
  .consent-banner .container {
    flex-direction: column;
  }
  .consent-banner .container .control {
    flex: 0 0 auto;
  }
}